In [21]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [22]:
degree_index = pd.read_csv("../data/degree_index.csv")
all_stops = pd.read_csv("../data/hcmc_bus_stops_information.csv")
all_hub_nodes = pd.read_csv("../data/hub_nodes_information.csv")

In [23]:
degree_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4414 entries, 0 to 4413
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   StopId   4414 non-null   int64
 1   Degree   4414 non-null   int64
 2   H_index  4414 non-null   int64
dtypes: int64(3)
memory usage: 103.6 KB

In [24]:
all_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4414 entries, 0 to 4413
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   StopId    4414 non-null   int64
 1   Code      4414 non-null   object
 2   Name      4414 non-null   object
 3   StopType  4414 non-null   object
 4   Zone      4414 non-null   object
 5   Street    4414 non-null   object
 6   Lng       4414 non-null   float64
 7   Lat       4414 non-null   float64
 8   Routes    4414 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 310.5+ KB

In [25]:
all_hub_nodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HubId     1005 non-null   int64
 1   StopId    1005 non-null   int64
 2   Code      1005 non-null   object
 3   Name      1005 non-null   object
 4   StopType  1005 non-null   object
 5   Zone      1005 non-null   object
 6   Street    1005 non-null   object
 7   Lng       1005 non-null   float64
 8   Lat       1005 non-null   float64
 9   Routes    1005 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.6+ KB

In [26]:
degree_index.describe()

            StopId       Degree      H_index
count  4414.000000  4414.000000  4414.000000
mean   2742.280471     2.439058     1.684866
std    2017.651103     0.974767     0.519864
min       1.000000     1.000000     1.000000
25%    1174.250000     2.000000     1.000000
50%    2437.500000     2.000000     2.000000
75%    3682.750000     3.000000     2.000000
max    7829.000000    14.000000     5.000000

-kiem tra degree va h-index cua cac hub
-tuong quan giua hub va degree

In [27]:
temp =pd.merge(all_hub_nodes, degree_index, on='StopId', how='inner')

In [29]:
temp.describe()

,HubId,StopId,Lng,Lat,Degree,H_index
count,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000
mean,502.000000,2104.180100,106.672597,10.795833,3.699502,1.915423
std,290.262812,1949.251761,0.087869,0.092698,1.327479,0.522226
min,0.000000,1.000000,106.087836,10.350457,1.000000,1.000000
25%,251.000000,638.000000,106.626075,10.755360,3.000000,2.000000
50%,502.000000,1516.000000,106.675444,10.789466,3.000000,2.000000
75%,753.000000,2707.000000,106.712608,10.845566,4.000000,2.000000
max,1004.000000,7829.000000,107.217992,11.309938,14.000000,5.000000